*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  background-color: rgb(247, 223, 192);  
}
#titulo{
    text-align: center;
    font-size: 40px;
    font-family: 'Roboto', cursive;
    margin-top: 20px;
    padding: 30px;
}
.subtitulo{
    font-weight: 700;
    color: aquamarine;
    font-style: oblique;
    padding: 10px;
}
p{
    margin: 30px 20px;
    border: 5px dotted black;
    border-radius: 5px;
    padding: 10px;
}
#lista{
    list-style: none;
    width: 100%;
    margin: 20px;
    text-align: center;
}
#lista li{
    display: inline-block;
}
li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 15px 50px;
    font-size: 22px;
    display: 15px 50px;
}
li a:hover{
    background-color: rgb(252, 151, 0);
    border-radius: 5px;
}
table{
    text-align: center;
    width: 100%;
    margin-top: 20px;
    margin: auto 0;
}
table th{
    text-align: center;
    font-size: 22px;
}
table img{
    border-radius: 50px;
    width: 300px;
    height: 300px;
    padding: 10px;
}

.Enlace{
    padding: 20px;
    background-color: rgba(19, 122, 249, 0.564);
    text-align: center;
    width: 50%; 
    text-decoration: none;
    color: rgb(11, 0, 223);
}
div{
    margin-top: 40px;
    text-align: center;
}